doctype html
head
  style 
    include public/css/style.css
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')

  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')

  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

  title BTITRE INDEX
h2 TITRE FONCIERE
h5 
  a( href="/api/addtitre") AJOUTER UN NOUVEAU TITRE

.table-wrapper
  table.fl-table
    thead
      tr
        th TITRE ID
        th FULL NAME
        th CIN
        th ADDRESS
        th EMAIL
        th INDICE
        th CONSERVATION FONCIERE
        th INDICE SPECIAL
        th LIEN
    tbody
      each item in list
        tr
          td=item["Key"]
          td=item["Record"]["fullName"]
          td=item["Record"]["cin"]
          td=item["Record"]["address"]
          td=item["Record"]["email"]
          td=item["Record"]["indice"]
          td=item["Record"]["city_fonc"]
          td=item["Record"]["special_indice"]
          td
            a(href="/api/query/" +item["Key"]) view details
      
